.container-fluid{
    display: flex;
    flex-direction: row;
    background-color: #5A8C76;
    padding: 20px 20px;
}

.navbar-cointainer-first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-cointainer-second-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1em;
}

.action-buttons-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.opciones{
    background-color: #8C554C;
    border-style: solid;
    border-color: #8C554C;
    border-radius: 7px;
    justify-content: center;
    color: #D9A8A0;
    transition: all 0.2s;
}
.opciones:hover {
    background-color:#D9A8A0;
    border-style: solid;
    border-color:#D9A8A0 ;
    color: #8C554C ;
}

.boton-buscar{
    flex-direction: row;
    background-color:#8C554C;
    border-style: solid;
    border-color: #8C554C;
    color: #D9A8A0;
    border-radius: 10px;
}
.boton-buscar:hover{
    background-color:#D9A8A0;
    border-style: solid;
    border-color:#D9A8A0;
    color:#8C554C;
    border-radius: 10px;
    transition: all 0.2s;
}

.text-consulta{
    display: flex;
    float: inline-end;
}

.num{
    display: flex;
    align-items: center;
}