.navbar-container{
    display: flex;
    flex-direction: column;
    background-color: #5A8C76;
    padding: 20px 20px;
}

.navbar-cointainer-first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logopag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-cointainer-second-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1em;
}

.action-buttons-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.navbar-button{
    background-color: #8C554C;
    border-style: solid;
    border-color: #8C554C;
    border-radius: 10px;
    padding: 5px 5px;
    color: #D9A8A0;
    transition: all 0.2s;
}
.navbar-button:hover {
    background-color:#D9A8A0;
    border-style: solid;
    border-color:#D9A8A0 ;
    color: #8C554C ;
}

@media (max-width: 375px) {
    .action-buttons-subcontainer{
        display: flex;
        flex-direction: column;
    }
}
